TheBoxSoftware.DeveloperSuite.LiveDocumenter/Service References/BoxSoftwareServices/ErrorReporting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReportAnError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="report" type="tns:ErrorReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErrorReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserActivity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOccurred" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Environment" type="tns:EnvironmentInformation" />
          <s:element minOccurs="0" maxOccurs="1" name="Assemblies" type="tns:ArrayOfReferencedAssembly" />
          <s:element minOccurs="0" maxOccurs="1" name="Exceptions" type="tns:ArrayOfExceptionReport" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EnvironmentInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OperatingSystem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FrameworkVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReferencedAssembly">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReferencedAssembly" nillable="true" type="tns:ReferencedAssembly" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReferencedAssembly">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfExceptionReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExceptionReport" nillable="true" type="tns:ExceptionReport" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExceptionReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StackTrace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReportAnErrorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportAnErrorSoapIn">
    <wsdl:part name="parameters" element="tns:ReportAnError" />
  </wsdl:message>
  <wsdl:message name="ReportAnErrorSoapOut">
    <wsdl:part name="parameters" element="tns:ReportAnErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="ErrorReportingSoap">
    <wsdl:operation name="ReportAnError">
      <wsdl:input message="tns:ReportAnErrorSoapIn" />
      <wsdl:output message="tns:ReportAnErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ErrorReportingSoap" type="tns:ErrorReportingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportAnError">
      <soap:operation soapAction="http://tempuri.org/ReportAnError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ErrorReportingSoap12" type="tns:ErrorReportingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportAnError">
      <soap12:operation soapAction="http://tempuri.org/ReportAnError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ErrorReporting">
    <wsdl:port name="ErrorReportingSoap" binding="tns:ErrorReportingSoap">
      <soap:address location="http://services.theboxsoftware.com/ErrorReporting.asmx" />
    </wsdl:port>
    <wsdl:port name="ErrorReportingSoap12" binding="tns:ErrorReportingSoap12">
      <soap12:address location="http://services.theboxsoftware.com/ErrorReporting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>